body{
    margin: 0px;
    padding: 0px;
    background-color: bisque;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
form h1{
    font-size: 20px;
}
form .separation{
    width: 100%;
    height: 1px;
    background-color: blueviolet;
}
form .corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
form .corps-formulaire .boite{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form .corps-formulaire .gauche .boite input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: blueviolet;
    border-radius: 5px;
}
form .corps-formulaire .gauche .boite i{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: blueviolet;
}
form .corps-formulaire .droite{
    margin-left: 40px;
}
form .corps-formulaire .droite .boite{
    height: 100%;
}
form .corps-formulaire .droite .boite textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: bisque;
    border: 2px solid blueviolet;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}
form .pied-formulaire button{
    margin-top: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
form .pied-formulaire button:hover{
    transform: scale(1.05);
}

@media screen and (max-width:920px){
    form .corps-formulaire .droite{
        margin-left: 0px;
    }
}